#courseguides {
	overflow: auto;
}

#courseguides li {
	list-style-type: none;
	margin-bottom: 1em;
}

#courseintro {
	background: white url('[[pix:theme|blockheader]]') repeat-x top;
	margin: 0.5em 20px;
	border: 1px solid #a3a3a3;
	border-radius: 2px;
}

#courseguides .summary {
	display: block;
	min-height: 1em;
}

#courseguides br.arrowspace {
	display: block;
	height: 16px;
}

.learningguide {
	min-height: 30px;
	background: #2647a0;
	border-radius: 2px;
	overflow: hidden;
}

.safari .learningguide {
	-webkit-border-radius: 2px;
}

.gecko .learningguide {
	-moz-border-radius: 2px;
}

.gecko .guide-left {
	-moz-border-radius-topleft: 2px;
}

.gecko .guide-right {
	-moz-border-radius-topright: 2px;
}

.learningguide.current {
	background: #bfdaff;
}

#courseintro ul,
.learningguide ul {
	margin-left: 1em;
}

.guide-left,
.guide-right {
	width: 20px;
	min-height: 28px;
	text-align: center;
	padding-top: 2px;
	display: block;
	background: #2647a0 url(http://yui.yahooapis.com/2.8.0/build/assets/skins/sam/sprite.png) repeat-x left -1400px;
    box-shadow: none;
}

.safari .guide-left,
.safari .guide-right {
    -webkit-box-shadow: none;
}

.gecko .guide-left,
.gecko .guide-right {
    -moz-box-shadow: none;
}

.learningguide.current .guide-left,
.learningguide.current .guide-right {
	background: #bfdaff url(http://yui.yahooapis.com/2.8.0/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
}

.guide-left {
	float: left;
}

.guide-right {
	float: right;
}

.guide-content {
	margin: 0 20px;
	padding: 0;
	background: white;
	display: block;
	min-height: 30px;
	height: 100%;
	border: 1px solid #a3a3a3;
}
